.containerBez
{
    display: grid; 
    grid-template-columns: auto; 
    grid-gap: 1em; 
    margin-top: 1em; 

}

.itemBez
{
    margin: 0 auto; 
    width: 55em; 
}

.containerBez img
{
    width: 100%; 
    margin: 0 auto; 
    height: auto; 
    min-width: auto; 
    min-height: auto;
}

@media screen and (max-width:1000px)
{
    .itemBez
    {
        width: 80%;
    }
    .containerBez img{

        
    }


}